<div class="container"><h2>Congrats on taking the first step to Learn Angular!</h2>

Navigate to one of the topics by switching tabs to see the examples. Check the files in source code to learn about how the features are implemented.
<br>
<br>
<p><b>Check Files for source:</b>
    <br> src\app\home\home.component.ts
    <br> src\app\home\home.component.html
    <br> 
    <br> 
    <b>Check Files for routing source:</b>
    <br> src\app\home\home.component.ts
    <br> src\app\app.component.html
    <br> src\app\routing\routing.module.ts
</p>
</div>